@model WebUI.Models.ContatoViewModel;

<partial name="~/Views/Shared/_MessageSuccessErrorPartial.cshtml"/>

<form asp-action="Create">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Nome">@Html.DisplayNameFor(model => model.Nome)</label>
            <input asp-for="Nome" class="form-control">
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Sobrenome">@Html.DisplayNameFor(model => model.Sobrenome)</label>
            <input asp-for="Sobrenome" class="form-control">
            <span asp-validation-for="Sobrenome" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Email">@Html.DisplayNameFor(model => model.Email)</label>
            <input asp-for="Email" class="form-control" value="">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <input type="submit" value="Submeter" class="btn btn-primary">
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_validationScriptsPartial");
    }
}