@model WebUI.Models.ContatoViewModel;

<form>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Nome">@Html.DisplayNameFor(model => model.Nome)</label>
            <input asp-for="Nome" class="form-control" readonly>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Sobrenome">@Html.DisplayNameFor(model => model.Sobrenome)</label>
            <input asp-for="Sobrenome" class="form-control" readonly>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Email">@Html.DisplayNameFor(model => model.Email)</label>
            <input asp-for="Email" class="form-control" readonly>
        </div>
    </div>
</form>
<div style="text-align:right ;">
    <a class="btn btn-primary" asp-controller="Telefone" asp-action="Create" asp-route-id="@Model.Id">Novo Telefone</a>
    <a class="btn btn-primary" asp-controller="Contato" asp-action="Index" asp-route-id="@Model.Id">Voltar</a>
</div>

<table class="table" style="margin-top: 20px;">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ListTelefoneViewModel[0].Numero)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var telefone in Model.ListTelefoneViewModel)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => telefone.Numero)</td>
                <td>           
                    <a class="btn btn-info btn-sm" asp-controller="Telefone" asp-action="Update" asp-route-id="@telefone.Id">Atualizar</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Telefone" asp-action="Delete" asp-route-contatoId="@Model.Id" asp-route-id="@telefone.Id">Excluir</a>
         
                </td>
            </tr>
        }

    </tbody>
</table>