@if(TempData[Constants.Message.SUCCESS] != null){
    <div class="alert alert-success">
        @TempData[Constants.Message.SUCCESS].ToString()
    </div>
}

@if(TempData[Constants.Message.ERROR] != null){
    <div class="alert alert-danger">
        @TempData[Constants.Message.ERROR].ToString()
    </div>
}