@model WebUI.Models.TelefoneViewModel;

<form asp-action="Update">
    <input asp-for="ContatoId" type="hidden">
    <input asp-for="Id" type="hidden">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Numero">@Html.DisplayNameFor(model => model.Numero)</label>
            <input asp-for="Numero" class="form-control">
            <span asp-validation-for="Numero" class="text-danger"></span>
        </div>
    </div>
    <input type="submit" value="Submeter" class="btn btn-primary">
    <a class="btn btn-info" asp-controller="Contato" asp-action="Details" asp-route-id="@Model.ContatoId">Voltar</a>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_validationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryMaskScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function(){
            $('#Numero').mask('(99) 99999-9999')
        })
    </script>
}