@model WebUI.Models.RegisterViewModel;

<partial name="~/Views/Shared/_MessageSuccessErrorPartial.cshtml"/>

<form asp-action="Register">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Email">@Html.DisplayNameFor(model => model.Email)</label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Password">@Html.DisplayNameFor(model => model.Password)</label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="ConfirmPassword">@Html.DisplayNameFor(model => model.ConfirmPassword)</label>
            <input asp-for="ConfirmPassword" class="form-control" value="">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <input type="submit" value="Submeter" class="btn btn-primary">
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_validationScriptsPartial");
    }
}